#topRow{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 49vh;
}

#bottomRow{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 49vh;
}

#topOne{
    display: flex;
    flex-direction: row;
    width: 33vw;
    height: 49vh;
    background-color: yellow;
}

#topTwo{
    display: flex;
    flex-direction: row;
    width: 33vw;
    height: 49vh;
    background-color: orange;

}

#topThree{
    display: flex;
    flex-direction: row;
    width: 33vw;
    height: 49vh;
    background-color: red;
}

#bottomOne{
    display: flex;
    flex-direction: row;
    width: 33vw;
    height: 49vh;
    background-color: green;
}

#bottomTwo{
    display: flex;
    flex-direction: row;
    width: 33vw;
    height: 49vh;
    background-color: blue;
}

#bottomThree{
    display: flex;
    flex-direction: row;
    width: 33vw;
    height: 49vh;
    background-color: purple;
}

#topMiddlePic{
    background-image: url("./images/grenade-in-tact.png");
    background-position: 50%;
    background-size: 85%;
    height: 45vh;
    width: 100%;
    margin-top: 4vh;
}

#topRightPic{
    background-image: url("./images/prism-upright.png");
    background-position: 50%;
    background-size: 85%;
    height: 45vh;
    width: 100%;
    margin-top: 4vh;
}

#BottomLeftPic{
    background-image: url("./images/globe-no-pins.png");
    background-position: 50%;
    background-size: 85%;
    height: 45vh;
    width: 100%;
    margin-top: 4vh; 
}

#BottomMiddlePic{
    background-image: url("./images/energy-drink.png");
    background-position: 50%;
    background-size: 85%;
    height: 45vh;
    width: 100%;
    margin-top: 4vh; 
}

#BottomRightPic{
    background-image: url("./images/curled-paper.png");
    background-position: 50%;
    background-size: 85%;
    height: 45vh;
    width: 100%;
    margin-top: 4vh; 
}